CompileFlags:
  Add: ["-std=c++23", "-fmodules"]
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  FunctionTypes: Yes
  Designators: Yes
  DeprecationHints: Yes
  SafetyHints: Yes
  ParameterType: Yes
