name: Update README
on:
  push:
    paths:
      - "README.md"

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install embedme
        run: npm install -g embedme

      - name: Update README
        run: embedme README.md

      - name: Commit and push README
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Auto-update README with latest code
          file_pattern: README.md
          commit_user_name: GitHub Actions Bot
          commit_user_email: action@github.com
